<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ethique conséquentialisme · La censure des réseaux</title>
        <script src="../js/navbar.js"></script>
        <script src="../js/color-modes.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="text-center pt-4">
                <!-- <h3>Ethique du conséquentialisme</h3> -->
                <h1 class="text-center mt-4">Ethique du conséquentialisme</h1>
                <hr class="featurette-divider">
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <h2>Qu'est-ce que l'éthique conséquentialiste ?</h4>
                    <!-- <p>L'éthique des vertues est un courant philosophique qui insiste sur les traits cartatéristique de quelqu'un. Elle correspond au qualité que quelqu'un doit développer dans une bonne proportion pour mener une vie bonne. Si elle n'est pas suffisament développer elle sera alors considéré comme un vis par défaut et au contraire, elle sera nommé un vis par exces. Elle a notament été popularisé par Aristote.   </p> -->
                     <p>Le conséquentialisme est une forme d’éthique téléologique, c’est-à-dire fondée sur les conséquences des actions. Elle considère qu’une action est moralement bonne si ses effets produisent plus de bien que de mal. Il s’agit donc de réfléchir aux résultats concrets de nos actes pour déterminer s’ils doivent être accomplis ou non.
                        <br>
                        Dans le cadre de la censure sur les réseaux sociaux, cela revient à se demander : quelles sont les conséquences d’un excès ou d’un manque de modération ? Que se passe-t-il lorsque l’on laisse tout passer ? Et à l’inverse, que risque-t-on en censurant trop ?</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../Images/consequence.jpg"  height="200">
                </div> 
            </div>

            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <h2>Que ce passe-t-il s'il n'y en a pas assez ?</h2>
                    
                     <p>On obtient alors des plateformes comme X (anciennement Twitter) ou Truth Social, où les utilisateurs publient librement ce qu’ils veulent.<br>
                        Malheureusement, cette absence de modération peut entraîner une explosion de fake news, de discours haineux (racistes, homophobes, misogynes, etc.), et de campagnes de harcèlement ciblées.<br>
                        Ces dérives peuvent avoir des conséquences dramatiques : elles alimentent la désinformation, favorisent la radicalisation, et peuvent même être à l’origine de détresses psychologiques sévères, voire de suicides comme le rapportent de nombreux journaux à travers le monde.<sup><a href="sources.html#suicide1">[1]</a></sup><sup><a href="sources.html#suicide2">[2]</a></sup><sup><a href="sources.html#suicide3">[3]</a></sup><br>
                        Dans une logique conséquentialiste, on pourrait donc juger qu’aucune censure est inacceptable car il produit un mal-être collectif.
                        </p>
                </div>
                <div class="col-md-3 order-md-first text-center">
                    <img src="../Images/liberteexpression.jpg"  height="200" class="img-fluid">
                </div> 
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <h2>Que ce passe-t-il s'il y en a trop ?</h2>
                     <p>Cependant, une censure excessive peut aussi nuire gravement à la liberté d’expression. En 2021, 42 % des Français s’informaient déjà principalement via Internet<sup><a href="sources.html#csa">[4]</a></sup> une tendance qui, depuis, n’a fait que se renforcer. Dans certains pays d’Asie du Sud-Est, comme le Vietnam, les gouvernements exercent une forte pression sur les plateformes comme Facebook pour censurer rapidement les contenus jugés "sensibles". Or, dans ce pays, 73 % de la population utilise Facebook, et la plateforme représente plus d’un milliard de dollars pour l’économie locale.<br>
                        Aujourd’hui, Facebook accepte et exécute 90-95 % des demandes de censure du gouvernement vietnamien, lesquelles visent souvent des critiques à l’encontre du régime.<sup><a href="sources.html#indonesie">[5]</a></sup>
                        Ce type de censure orientée devient alors un outil de pouvoir, permettant à un parti politique de contrôler l’information et de museler toute opposition. Dans une lecture conséquentialiste, ce genre de dérive produit des conséquences sociales graves : perte de liberté, renforcement de l’autoritarisme, manipulation de l’opinion,... autant de raisons pour lesquelles une censure trop étendue des réseaux est, elle aussi, problématique.
                        </p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../Images/censurefacebook.jpg"  height="200" class="img-fluid">
                </div> 
            </div>
            <div>
                <h2>Pour conclure</h2>
                 <p>Il est donc essentiel de trouver un juste équilibre : assez de censure pour protéger les utilisateurs contre les discours haineux et les contenus nuisibles, mais pas au point de brider la liberté d’expression ou de permettre aux gouvernements d’imposer leur vision par la force.
                 </p>
            </div>
        </div>
        
    </body>
</html>