<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ethique du déontologisme · La censure des réseaux</title>
        <script src="../js/navbar.js"></script>
        <script src="../js/color-modes.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="text-center pt-4 mb-5">
                <h2><b>Ethique du déontologisme</b></h2>
            </div>
            <div class="row align-items-start mb-4">
                <div class="col-md-9">
                    <h4><b>Qu'est-ce que l'éthique du déontologisme ?</b></h4>
                    <p>L’éthique déontologique est un courant philosophique qui se concentre sur le respect des règles et des devoirs moraux. Contrairement à l’éthique des vertus, qui met l’accent sur le caractère et les intentions, l’éthique déontologique insiste sur l’importance de suivre des principes moraux universels, indépendamment des conséquences. Elle a été popularisée par le philosophe allemand Emmanuel Kant.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../Images/Kant.png"  height="200">
                </div>
            </div>
            <div class="mb-4 text-start py-4">

                <p class="lead">La question à se poser est donc la suivante : <b>Qu'est il juste de moralement modérer ?</b></p>
                <p >Plusieurs sujets semblent être </p>

            </div>
        </div>
        
    </body>
</html>