<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ethique responsabilité · La censure des réseaux</title>
        <script src="../js/navbar.js"></script>
        <script src="../js/color-modes.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="text-center pt-4">
                <h1>Ethique de la responsabilitée :</h1>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <h2>Qu'est-ce que l'éthique responsabiliste ?</h4>
                    <!-- <p>L'éthique des vertues est un courant philosophique qui insiste sur les traits cartatéristique de quelqu'un. Elle correspond au qualité que quelqu'un doit développer dans une bonne proportion pour mener une vie bonne. Si elle n'est pas suffisament développer elle sera alors considéré comme un vis par défaut et au contraire, elle sera nommé un vis par exces. Elle a notament été popularisé par Aristote.   </p> -->
                     <p>L’éthique de la responsabilité vise à se poser la question suivante : les conséquences de nos actions nuisent-elles à autrui, à la société ou à l’environnement ? On peut donc l’aborder du point de vue des utilisateurs, mais aussi de celui des plateformes<sup><a href="sources.html#article3R">[5]</a></sup>.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../Images/futur.jpg"  height="200">
                </div> 
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <h2>Du point de vue des utilisateurs</h2>
                    
                     <p>Comme abordé dans d’autres éthiques, certains utilisateurs publient des messages de désinformation, à caractère haineux, raciste, sexiste, etc. Tous ces messages nuisent directement à autrui et ne sont donc pas acceptables selon cette éthique (ni d’un point de vue moral général). <br>
                        Il faudrait donc éduquer les utilisateurs afin qu’ils évitent de publier ce type de contenu. Cela reste toutefois complexe, car même si ce genre de propos est puni par la loi, beaucoup continuent de les poster sans réellement réfléchir aux conséquences.                        
                        </p>
                </div>
                <div class="col-md-3 order-md-first text-center">
                    <img src="../Images/utilisateur.jpg"  height="200" class="img-fluid">
                </div> 
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <h2>Du point de vue des plateformes</h2>
                     <p>Étant donné le volume de contenu publié chaque jour, les plateformes ont dû automatiser leur système de modération. La plupart ont adopté un système en trois volets :</p>
                     <ol>
                        <li>Suppression directe de contenu choquant ou haineux (propos violents, nudité, etc.), souvent filtré par des intelligences artificielles. Par exemple, dans un article cité en source, on apprend que 99 % des contenus à caractère sexuel sont supprimés avant même d’être publiés.</li>
                        <li>Mise en avant des créateurs de confiance, c’est-à-dire ceux qui respectent les règles de la plateforme. Cela permet de valoriser les contenus de qualité et conformes aux standards de la communauté.</li>
                        <li>Invisibilisation partielle des contenus jugés de “qualité médiocre” ou allant à l’encontre des bonnes mœurs ou des standards communautaires.</li>
                     </ol>
                     <p>
                        Cette stratégie paraît pertinente, car elle permet à la majorité des utilisateurs de consommer du contenu fiable et respectueux. Cependant, cela freine l’émergence de nouveaux créateurs, qui doivent déjà produire un contenu très “propre” pour être visibles.<br>
                        Un autre problème réside dans le fait que certains sujets sont automatiquement pénalisés par les algorithmes. De nombreux créateurs ont remarqué que lorsqu’ils abordaient des thématiques sensibles ou engagées politiquement, leurs vidéos recevaient 10 à 100 fois moins de vues. Elles n’étaient tout simplement pas mises en avant. <br>
                        Ce système pose problème car les règles sur ce qui est autorisé ou non ne sont pas clairement définies ni transparentes. De plus, les créateurs n’ont aucune possibilité de contester les décisions de la plateforme, ce qui révèle une forme de dictature algorithmique. Cela fragilise non seulement leur travail, mais aussi, de manière plus large, la liberté d’expression.<br>
                        À long terme, cela pourrait devenir problématique si une poignée d’entreprises privées contrôlent l’information vue par la majorité des internautes.
                     </p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../Images/censurefacebook.jpg"  height="200" class="img-fluid">
                </div> 
            </div>
            <div>
                <h2>Pour conclure</h2>
                 <p>On constate que les réseaux sociaux ont déjà mis en place des mesures visant à rendre leurs plateformes plus pérennes, en essayant de trouver un équilibre entre liberté d’expression et responsabilité.<br>
                    Cependant, un manque de transparence persiste, notamment concernant les contenus invisibilisés par les algorithmes. Du côté des utilisateurs, s’ils prenaient réellement le temps de réfléchir aux conséquences de ce qu’ils publient, les plateformes n’auraient pas besoin de mettre en place des systèmes aussi complexes. Cela permettrait non seulement de simplifier la modération, mais aussi de réduire l’usage massif d’intelligences artificielles, ce qui pourrait diminuer leur consommation énergétique et leur impact environnemental.
                    
                 </p>
            </div>
        </div>
        
    </body>
</html>