<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ethique du déontologisme · La censure des réseaux</title>
        <script src="../js/navbar.js"></script>
        <script src="../js/color-modes.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="text-center pt-4">
                <h1 class="mt-4"><b>Ethique du déontologisme</b></h1>
                <hr class="featurette-divider">
            </div>
            <div class="row align-items-start mb-4">
                <div class="col-md-9">
                    <h4><b>Qu'est-ce que l'éthique du déontologisme ?</b></h4>
                    <p>L’éthique déontologique est un courant philosophique qui se concentre sur le respect des règles et des devoirs moraux. Contrairement à l’éthique des vertus, qui met l’accent sur le caractère et les intentions, l’éthique déontologique insiste sur l’importance de suivre des principes moraux universels, indépendamment des conséquences. Elle a été popularisée par le philosophe allemand Emmanuel Kant.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../Images/Kant.png"  height="200">
                </div>
            </div>
            <div class="row align-items-start mb-4">
                <div class="col-md-4 text-center">
                    <img src="../Images/liberté.png"  height="200" class="img-fluid">
                </div>
                <div class="col-md-8 mb-4 text-start py-4">

                    <p class="lead">Une première question qu'on est en droit de se poser est la suivante : <b>Est ce Moralement juste de censurer les autres ?</b></p>
                    <p>En effet, selon Kant l'être l'humain est un être libre. Hors toute forme de censure est une atteinte à cette dite liberté de s'exprimer. 
                        Par exemple une censure à des fins politiques peut être perçue comme une violation de la morale des censurés. De ce point de vue, il semblerait alors logique d'autoriser n'importe quel propos sur les plateformes. Mais de là se pose alors une opposition avec cette deuxième vision de l'être humain selon Kant. </p>

                </div>
            </div>
            <div class="row align-items-start mb-4">
                
                <div class="col-md-8 mb-4 text-start py-4">

                    <h3>Que faudrait il censurer d'un point de vue moral ?</h3>
                    <p>Selon Kant, l'être humain n'est pas qu'un être libre, il est aussi unifié et doit respecter un principe de dignité humaine.</p>
                    <p>Ceci implique de respecter les autres, de ne pas les traiter comme des moyens mais aussi de veiller sur les autres (devoir de bienveillance). Dès lors on peut identifier différents points qui sont moraux à censurer:</p>
                    <ul>
                        <li>Les propos haineux : que ce soit le racisme, le sexisme ou bien encore l'homophobie, tous ces propos violent les principes de dignité humaine mais aussi de devoir de bienveillance.</li>
                        
                        <li>Fausses informations : Les fausses informations peuvent être divisées en deux catégories, la désinformation et la parodie : la désinformation est elle à censurer car la déonthologie implique un devoir de vérité. C'est tout de fois plus discutable dans le cas d'une parodie qui n'a pas pour but de manipuler l'information mais est à titre humoristique </li>
                    </ul>
                </div>

                <div class="col-md-4 text-center">
                    <img src="../Images/censure.png"  height="200" class="img-fluid">
                </div>
            </div>
            <h3>Pour Conclure</h3>
            <p>En conclusion, en prenant une approche déonthologique. On aboutit à un avis nuancé, on a d'un côté la notion de liberté de l'humain et donc de parole à respecter. Mais de l'autre on doit également agir à l'encontre des atteintes à la dignité humaine et appliquer ses devoirs envers les autres.</p>
        </div>
        
    </body>
</html>