<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ethique vertue · La censure des réseaux</title>
        <script src="../js/navbar.js"></script>
        <script src="../js/color-modes.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="text-center pt-4">
                <h2><b>Ethique des vertues</b></h2>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <h4><b>Qu'est-ce que l'éthique des vertues ?</b></h4>
                    <!-- <p>L'éthique des vertues est un courant philosophique qui insiste sur les traits cartatéristique de quelqu'un. Elle correspond au qualité que quelqu'un doit développer dans une bonne proportion pour mener une vie bonne. Si elle n'est pas suffisament développer elle sera alors considéré comme un vis par défaut et au contraire, elle sera nommé un vis par exces. Elle a notament été popularisé par Aristote.   </p> -->
                     <p>L’éthique des vertus est un courant philosophique qui insiste sur les traits de caractère d’une personne. Elle s’intéresse aux qualités que chacun devrait développer, dans une juste mesure, pour mener une "vie bonne". Si une vertu n’est pas suffisamment développée, elle devient un vice par défaut ; à l’inverse, un excès devient un vice par excès. Ce courant a notamment été popularisé par Aristote.                     </p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../Images/aristote.webp"  height="200">
                </div> 
            </div>
            <div class="mb-4">
                <p>En réfléchissant un peu, nous avons mis évidence 4 grande vertue qu'il conviendrait de développer pour vivre une vie bonne sur internet : </p>
                <ul>
                    <li>La prudence</li>
                    <li>La tempérance</li>
                    <li>La responsabilité</li>
                    <li>La justice</li>
                </ul>
                <p>Nous allons ici expliquer pourquoi ils sont importants tant pour l'utilisateur que pour le modérateur.</p>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <p><b>La prudence</b></p>
                     <p>En l’absence de censure, il est essentiel que les utilisateurs fassent preuve de prudence. Cela signifie qu’ils doivent à la fois analyser les informations qu’ils consomment, en se demandant par exemple : « Cette information est-elle vraie ? » mais aussi réfléchir aux conséquences de ce qu’ils publient : « Mon message pourrait-il blesser quelqu’un ou provoquer une réaction excessive ? » 
                        Sans censure, c’est donc à chacun de prendre la responsabilité de ses propos.<br> À l’inverse, lorsqu’il y a censure, certains messages problématiques peuvent être supprimés automatiquement, ce qui évite parfois la réflexion individuelle mais peut aussi empêcher la prise de conscience nécessaire à un comportement éthique.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../Images/prudence.jpg"  height="200" class="img-fluid">
                </div> 
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <p><b>La tempérance</b></p>
                    
                     <p>La tempérance est essentielle, aussi bien pour les utilisateurs que pour ceux qui censurent. Elle consiste à ne pas réagir sous le coup de l’émotion, mais à prendre du recul pour agir dans l’intérêt commun.<br>
                        Un utilisateur tempérant évitera de publier des messages haineux ou impulsifs, ce qui contribuerait naturellement à réduire le besoin de censure.<br>
                        À l’inverse, si la censure est bien automatisée, elle peut supprimer certains contenus sans que les utilisateurs aient eu l’occasion de réfléchir à leurs propos, court-circuitant ainsi le développement personnel de leur tempérance. <b></b>
                        Pour les censeurs eux-mêmes, un manque de tempérance pourrait mener à des suppressions injustifiées, provoquant de l’incompréhension et de la frustration chez les auteurs concernés.</p>
                </div>
                <div class="col-md-3 order-md-first text-center">
                    <img src="../Images/tempérance.jpg"  height="200">
                </div> 
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <p><b>La responsabilité</b></p>
                     <p>Un utilisateur est responsable de ses publications, surtout si celles-ci contiennent des messages nuisibles pour la société. Toutefois, en pratique, cette responsabilité est difficile à appliquer : supprimer un message ou un compte ne suffit pas, car il est souvent facile d’en créer un nouveau, en restant anonyme.<br>
                        Pour que la responsabilité soit véritablement effective, il faudrait que l’identité numérique soit liée à la personne réelle, afin d’éviter que l’utilisateur ne se cache derrière un pseudonyme ou un avatar.<br>
                        Du côté des juges ou des modérateurs, leur responsabilité est aussi engagée. S’ils censurent un contenu sans justification claire ou de manière abusive, ils devraient être tenus responsables de leurs décisions, notamment si leur nom ou leur raisonnement accompagne la suppression.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../Images/responsabilite.jpg"  height="200" class="img-fluid">
                </div> 
            </div>

            <div class="row align-items-center mb-4">
                <div class="col-md-9">
                    <p><b>La justice</b></p>
                    <!-- <p>L'éthique des vertues est un courant philosophique qui insiste sur les traits cartatéristique de quelqu'un. Elle correspond au qualité que quelqu'un doit développer dans une bonne proportion pour mener une vie bonne. Si elle n'est pas suffisament développer elle sera alors considéré comme un vis par défaut et au contraire, elle sera nommé un vis par exces. Elle a notament été popularisé par Aristote.   </p> -->
                     <p>La vertu de justice implique que les personnes ou les algorithmes chargés de la censure soient impartiaux et n’interviennent que lorsque cela est réellement nécessaire. Ils doivent être capables de comprendre le contexte d’un message et de juger s’il nuit ou non au bien commun. Si le message va à l’encontre de l’intérêt général, alors sa suppression peut être justifiée, mais elle devrait être expliquée clairement à l’auteur. Sinon, le système laisse passer le message. Dans un monde idéal, si tous les utilisateurs faisaient preuve de prudence et de responsabilité, la censure deviendrait inutile, car personne ne publierait de contenu nuisible à la société. </p>
                </div>
                <div class="col-md-3 order-md-first text-center">
                    <img src="../Images/justice.png"  height="200">
                </div> 
            </div>
            <div>
                <!-- <p>Pour conclure sur cette éthique, on remarque que si les utilisateur sont bien éduqué, nous n'avons pas besoin de censeur. Cependant, dans l'autre sens, si le censeurs vive une bonne vie alors, les utilisateur ne sertont pas obliger d'en vivre une pour que tout le monde aie une bonne expérience sur internet.</p> -->
                <p><b>Pour conclure </b></p>
                 <p>L’éthique des vertus montre que si les utilisateurs sont suffisamment éduqués et vertueux, la censure devient inutile : chacun agirait alors de manière responsable, juste et tempérée.<br>
                    À l’inverse, si les censeurs eux-mêmes adoptent une conduite exemplaire, ils peuvent garantir une expérience en ligne saine, même lorsque certains utilisateurs manquent de recul ou de prudence.<br>
                    Dans tous les cas, c’est par le développement des vertus, à tous les niveaux, que l’on peut espérer un internet plus éthique.
                 </p>
            </div>

        </div>
        
    </body>
</html>