<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sources · La censure des réseaux</title>
        <script src="../js/navbar.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="text-center pt-4">
                <h2>Sources</h2>
            </div>
            <hr class="featurette-divider"></hr>
            <div class="row mb-5">
                <div class="col-md-9">
                    <h3 class="mb-3">Bibliographie / Siteogrpahie :</h3>
                    <ol>
                        <li id="suicide1">RTL. <em>Des parents attaquent TikTok en justice après le suicide de leurs enfants</em>. 20 février 2024. 
                            <a href="https://www.rtl.fr/actu/justice-faits-divers/info-rtl-des-parents-attaquent-tiktok-en-justice-apres-le-suicide-de-leurs-enfants-7900366774" target="_blank">
                              Lire l'article
                            </a></li>
                        <li id="suicide2">Courrier International. <em>Harcèlement : le suicide de la “fille aux cheveux roses” de Hangzhou émeut la Chine</em>. 6 avril 2024. 
                            <a href="https://www-courrierinternational-com.eu1.proxy.openathens.net/article/harcelement-le-suicide-de-la-fille-aux-cheveux-roses-de-hangzhou-emeut-la-chine" target="_blank">
                              Lire l'article
                            </a></li>
                        <li id="suicide3">Courrier International. <em>Réseaux sociaux : des familles britanniques demandent à pouvoir consulter l’historique de leurs enfants décédés</em>. 21 mars 2024. 
                            <a href="https://www-courrierinternational-com.eu1.proxy.openathens.net/article/reseaux-sociaux-des-familles-britanniques-demandent-a-pouvoir-consulter-l-historique-de-leurs-enfants-decedes" target="_blank">
                              Lire l'article
                            </a></li>
                        <li id="csa">
                            CSA (Conseil Supérieur de l'Audiovisuel). <em>La propagation des fausses informations sur les réseaux sociaux – étude de la plateforme Twitter</em>. 2021.
                            <a href="https://www.csa.fr/Informer/Collections-du-CSA/Focus-Toutes-les-etudes-et-les-comptes-rendus-synthetiques-proposant-un-zoom-sur-un-sujet-d-actualite/La-propagation-des-fausses-informations-sur-les-reseaux-sociaux-etude-de-la-plateforme-Twitter" target="_blank">
                                Lire l'étude
                            </a>
                        </li>
                        <li id="indonesie">
                            Courrier International. <em>Chantre autoproclamé de la libre expression, Facebook a institué la censure en Asie du Sud-Est</em>. 12 mars 2024.
                            <a href="https://www-courrierinternational-com.eu1.proxy.openathens.net/article/decryptage-chantre-autoproclame-de-la-libre-expression-facebook-a-institue-la-censure-en-asie-du-sud-est_226821" target="_blank">
                                Lire l'article
                            </a>
                            </li>
                    </ol>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8">
                    <h3 class="mb-3">Images :</h3>
                    <ul>
                        <li><a href="https://www.istockphoto.com/fr">istockphoto</a></li>
                        <li><a href="https://stock.adobe.com/fr">Adobe stock</a></li>
                    </ul>
                </div>
                <div class="col-md-4 d-md-block d-none">
                    <img src="../Images/livre.png" class="img-fluid">
                </div>
            </div>
            <hr class="featurette-divider"></hr>
        </div>
        
    </body>
</html>